.git
.idea

instagramania/node_modules/
app/node_modules/
venv/

.data*/

**/__pycache__
*.pyo
*.pyc

instagramania/.cache
instagramania/.pytest_cache
instagramania/.coverage
instagramania/coverage
instagramania/cover/
